<!DOCTYPE html>
<html lang="en" ng-app="myNinjaApp">
  <head>
    <title>TheNetNinja Angular Playlist</title>
    <script src="app/lib/angular.js"></script>
    <script src="app/app.js"></script>
    <link href="content/css/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <!-- ng-init can help initialise data, but it's a very bad practice to do so -->
  <body>
  	<div ng-controller="NinjaController">
  		<input type="text" ng-model="search" />
  		<ul>
  			<li ng-repeat="ninja in ninjas | orderBy: 'name' | filter: search">
  			{{ ninja.name }} - {{ ninja.rate | currency: '$' }}
  			</li>

  		</ul>

  	</div>

  </body>
</html>
